* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  border: lime solid 10px; /* For visibility */
}

.mainGridContent {
  border: aqua solid 10px; /* For visibility */
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 720px;
}

.gridSquare {
  box-sizing: border-box;
}

.gridSquareBlack {
  background-color: black;
  animation: fade-in 0.5s;
}

.reset {
  animation: fade-out 0.5s;
}

/* Footer Stuff */
footer {
  display: flex;
  justify-content: center;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(77, 46, 104);
  color: white;
  padding: 10px;
  z-index: 3;
}

.footerContainer {
  display: flex;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  gap: 25px;
  align-items: center;
  width: 25%;
}

.footerContainer > button {
  background-image: linear-gradient(to right, #ff8000, #ffff00, #fd63e3);
  background-size: 300%;
  padding: 3px 8px;
  transition: background-position 1s;
  animation: wiggle 5s infinite;
}

.footerContainer > button:hover {
  background-position: right;
}

/* Grid coloring fade */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Footer logo wiggle */
@keyframes wiggle {
  0% {
    transform: rotate(0deg); 
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}